<h1> Edit Recipe </h1>

<h2> Name </h2>
<h2> Serves # </h2>
<h2> Items </h2>
<h2> Instructions </h2>

<%= form_for :recipe do |f| %>

 <p>
    <%= f.label :item %><br>
    <%= f.text_field :text %>
  </p>


  <p>
    <%= f.submit 'Add Item' %><br>
  </p>
 
	<p>
    <%= f.submit 'Finished editing', :name => 'edit_finished' %>
  </p>
<% end %>
