<%= form_for :recipe do |f| %>
  <p>
    <%= f.label :Name %><br>
    <%= f.text_field :Name %>
  </p>
 
  <p>
    <%= f.label :Serving %><br>
    <%= f.text_area :Serving %>
  </p>
 
  <p>
    <%= f.label :Item %><br>
    <%= f.text_area :Item %>
  </p>

  <p>
    <%= f.submit 'Add Item' %>
  </p>

  <p>
    <%= f.label :Instructions %><br>
    <%= f.text_area :Instructions  %>
  </p>

  <p>
    <%= f.submit 'Create Recipe'%>
  </p>
<% end %>
